CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.vs/Snake_Game.slnx/FileContentIndex/5dbf50b3-4e95-4581-8a25-186daf3f294a.vsidx
.vs/Snake_Game.slnx/FileContentIndex/251e0ba4-2e59-42ca-873d-7882f8bc7941.vsidx
.vs/Snake_Game.slnx/FileContentIndex/251e0ba4-2e59-42ca-873d-7882f8bc7941.vsidx
.vs/Snake_Game.slnx/FileContentIndex/3de83deb-e133-4f11-a006-83f4520389e8.vsidx
.vs/Snake_Game.slnx/FileContentIndex/8c05f73c-9e7b-4014-a99d-816092f04e4b.vsidx
.vs/Snake_Game.slnx/FileContentIndex/251e0ba4-2e59-42ca-873d-7882f8bc7941.vsidx
*.vsidx
.vs/Snake_Game.slnx/FileContentIndex/251e0ba4-2e59-42ca-873d-7882f8bc7941.vsidx
.vs/Snake_Game.slnx/v18/Browse.VC.opendb
/out
/out/build/x64-Debug
